<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Comment">
 
 	<insert id="save" parameterType="cdto">
  		insert into commentH_table(b_number, m_id, c_contents, c_date)
  			value(#{b_number},#{m_id},#{c_contents},now())
  	</insert>
  	
  	<select id="findAll" parameterType="long" resultType="cdto">
  		select * from commentH_table where b_number=#{b_number}
  	</select>
 </mapper>